.App {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
}

.MainContainer {
    border: 2px solid #ccc;
    border-radius: 10px;
    background: white;
}

.ChatContainer {
    padding: 15px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.Message {
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    max-width: 60%;
    word-break: break-word;
}

.MessageList {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    padding-top: 10px;
}