.expense-tracker {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  color: #023047;
}

.expense-tracker h1 {
  font-size: 40px;
  font-family: 'Segoe UI';
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.profile-photo {
  width: 150px;
  height: 150px; /* Ensure square aspect ratio */
  border-radius: 50%;
  object-fit: cover; /* Ensure the image covers the entire area */
}

.sign-out-button {
  border: none;
  margin-top: 20px;
  max-width: 50%; 
  background: #FFFFFF;
  border-radius: 10px;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  text-decoration: none;
  font-family: 'Segoe UI';
  text-align: center;
}

.sign-out-button:hover {
  background: #FEF9F3;
  cursor: pointer;
}

.transactions {
  margin: 20px;
  width: 100%;
  max-width: 85%; /* Adjust max-width to be a percentage of the container */
  height: auto; /* Allow height to adjust based on content */
  overflow: auto;
  border: 3px solid #023047;
  font-family: 'Segoe UI';
}
