.cards-container {
  margin: 0 auto;
  width: 95%;
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between; 
  padding: 0;
}

.tier-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: white;
}

.tier-container h2 {
  color: #2c3e50;
  margin-bottom: 10px;
}

.credit-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 15px;
  background-color: white;
}

.credit-card img {
  border-radius: 6px;
  object-fit: cover;
  max-width: 20%;
}

.credit-card h3, .credit-card p {
  margin-left: 30px;
  color: #333;
  flex: 1;
}

.credit-card h3 {
  font-size: 20px;
  font-weight: bold;
}

.credit-card p {
  font-size: 16px;
}

.credit-card p:last-child {
  margin-bottom: 0;
}